/*Main stylesheet for the div sections and the heading*/
#heading{
	text-align: center;
	font-family: Algerian, Tahoma, Verdana, serif;
	background-color: #28282E;
	color: #A1B3B3;
}
body{
	background-color: #D5D6A7;
}
#border{
	margin: auto;
	width: 800px;
	border: none;
}
div div{
	margin: auto;
	border: 1px solid black;
	border-radius: 10px;
	display: inline-block;
	background-color: green;
}

.functionalBox{
	height: 300px;
	width: 300px;
}

#middleman{
	height: 75px;
	width: 150px;
	text-align: center;
	background-color: #28282E;
	color: #A1B3B3;
}

#box_one{
height: 300px;
	width: 300px;
	margin-left: 0 auto;
}
#box_two{
height: 300px;
	width: 300px;
	margin-right: 0 auto;
}
